.OrderUpdatePage {
  max-width: 60rem;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--base-color);
  border-radius: var(--border-radius);
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  color: var(--text-color);

  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8em;
    color: var(--accent-color);
  }

  form {
    display: flex;
    /* flex-direction: column; */
    gap: 20px;
    flex-wrap: wrap;

    aside {
      flex: 1;
    }

    div {
      display: flex;
      flex-direction: column;
    }

    label {
      margin-bottom: 5px;
      /* font-weight: bold; */
      color: var(--text-color);
    }

    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="number"],
    input[type="date"] {
      padding: 10px;
      font-size: 1em;
      border: 1px solid var(--line-color);
      border-radius: var(--border-radius);
      margin-bottom: 10px;
      color: var(--text-color);
      background-color: var(--white-color);

      &:focus {
        border-color: var(--accent-color);
        outline: none;
      }
    }

    textarea {
      padding: 10px;
      font-size: 1em;
      border: 1px solid var(--line-color);
      border-radius: var(--border-radius);
      margin-bottom: 10px;
      color: var(--text-color);
      background-color: var(--white-color);
      min-height: 100px;
      resize: vertical;

      &:focus {
        border-color: var(--accent-color);
        outline: none;
      }
    }

    .error-message {
      color: red;
      font-size: 0.9em;
      margin-top: 5px;
    }
  }

  .find-operator,
  .find-municipality {
    display: flex;
    flex-direction: column;
  }

  .find-operator input,
  .find-municipality input {
    width: 100%;
  }
}

.dark-mode {
  .OrderUpdatePage {
    background-color: var(--base-color);
    color: var(--text-color);

    form {
      input[type="text"],
      input[type="email"],
      input[type="url"],
      input[type="number"],
      input[type="date"],
      textarea {
        background-color: var(--base-color);
        color: var(--text-color);
        border-color: var(--line-color);
      }

      .error-message {
        color: red;
        font-size: 0.9em;
      }
    }
  }
}
