.OrderTableByIdComp {
  .header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .btn_container {
      display: flex;
      gap: 1rem;
    }
  }
  .findOneOrderNumber {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;

    input[type="text"] {
      margin-bottom: initial;
      flex: 1;
    }
  }

  table {
    /* min-width: 40rem; */
    /* display: block; */
    /* min-width: max(40rem, 100%); */
    min-width: min(40rem, 70vw);
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

    th,
    td {
      padding: 12px;
      text-align: left;
      border: 1px solid var(--line-color);
    }

    th {
      background-color: var(--accent-color);
      color: var(--white-color);
      font-weight: bold;
    }

    td {
      background-color: var(--line-color);
    }

    tr:nth-child(even) td {
      background-color: var(--light-color);
    }
  }
  hr {
    opacity: 0.5;
  }
  a {
    font: inherit;
    text-decoration: none;
    color: inherit;
  }
}
