/* Contenedor general de la paginación */
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 20px 0;
    font-family: "Poppins", sans-serif;
  }
  
  /* Botones de navegación (anterior/siguiente) */
  .pagination-button {
    padding: 8px 12px;
    border: 1px solid var(--line-color);
    background-color: var(--base-color);
    color: var(--text-color);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .pagination-button:hover {
    background-color: var(--hover-color);
  }
  
  .pagination-button:disabled {
    background-color: var(--line-color);
    color: var(--secondary-text-color);
    cursor: not-allowed;
  }
  
  /* Botones de número de página */
  .pagination-page {
    padding: 8px 12px;
    border: 1px solid var(--line-color);
    background-color: var(--base-color);
    color: var(--text-color);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .pagination-page:hover {
    background-color: var(--hover-color);
  }
  
  /* Página activa */
  .pagination-active {
    background-color: var(--accent-color);
    color: var(--white-color);
    border-color: var(--accent-color);
  }
  