.OrderSubmitComponent {
  display: flex;
  gap: 1em;
  .error-message {
    background-color: var(--accent-color);
    color: var(--white-color);
    border: 1px solid var(--line-color);
    padding: 10px;
    margin-top: 10px;
    border-radius: var(--border-radius);
  }
}

/* Estilos para el modo oscuro */
.dark-mode .OrderSubmitComponent {
  .error-message {
    background-color: var(--accent-color);
    color: var(--white-color);
    border: 1px solid var(--line-color);
  }
}

.checkbox-container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  font-size: 1rem;
  color: var(--text-color);
  cursor: pointer;
  user-select: none;
  /* font-size: 1.2em; */
}

.checkbox-container input {
  appearance: none;
  width: 1.5em;
  height: 1.5em;
  border: 2px solid var(--line-color);
  border-radius: 4px;
  background-color: var(--base-color);
  transition: all 0.2s ease-in-out;
  position: relative;
  cursor: pointer;
}

.checkbox-container input:checked {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.checkbox-container input:checked::after {
  content: "✔";
  font-size: 0.9em;
  color: var(--white-color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.checkbox-container:hover input {
  border-color: var(--secondary-text-color);
}
