.menu {
    position: relative;
    font-family: "Poppins", sans-serif;
    background-color: var(--base-color);
  }
  
  .menu-toggle {
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--accent-color);
    color: var(--base-color);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .menu-toggle:hover {
    background-color: var(--line-color);
  }
  
  .menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none; /* Ocultar el menú por defecto */
    background-color: var(--base-color);
  }
  
  .menu-list.open {
    display: block; /* Mostrar el menú cuando está abierto */
  }
  
  .menu-item {
    padding: 10px 20px;
  }
  
  .menu-link {
    color: var(--text-color);
    text-decoration: none;
    display: block;
  }
  
  .menu-link:hover {
    background-color: var(--hover-color);
  }
  
  .menu.open .menu-toggle {
    background-color: var(--accent-color);
  }
  