.Navbar {
  display: flex;
  gap: 0.5rem;
  /* justify-content: space-between; */
  background-color: #000;
  color: white;
  /* align-items: center; */
  padding: 1rem;
  flex-direction: column;
  aside {
    display: flex;
    gap: 1rem;
  }
  .active {
    text-decoration: underline;
    color: greenyellow;
    /* background-color: peru; */
  }
  a {
    color: inherit;
  }
  b {
    opacity: 0.7;
    /* color: peru; */
  }
}
