.file-upload {
  /* ========== button file ========== */
  input[type="file"].btn-primary {
    display: inline-block;
    background-color: var(--accent-color);
    color: var(--white-color);
    padding: 0.5em 1em;
    border: 1px solid var(--line-color);
    border-radius: var(--border-radius);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  input[type="file"].btn-primary:hover {
    /* background-color: var(--hover-color); */
    /* color: var(--white-color); */
    opacity: 0.8;
  }

  input[type="file"].btn-primary:focus {
    outline: 2px solid var(--accent-color);
    outline-offset: 2px;
  }

  input[type="file"].btn-primary::file-selector-button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    color: inherit;
  }

  .btn-primary {
    display: inline-block;
    background-color: var(--accent-color);
    color: var(--white-color);
    padding: 0.5em 1em;
    border: 1px solid var(--line-color);
    border-radius: var(--border-radius);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
  }

  .btn-primary:hover {
    opacity: 0.7;
  }

  .btn-primary:focus {
    outline: 2px solid var(--accent-color);
    outline-offset: 2px;
  }
  img {
    max-width: 100%;
  }
}
