.OrderStatusDetail {
  --white-color: #fff;
  --font-size-icon: 1.5rem;
  --font-size: 0.8rem;
  --padding: 1px 15px 1px 10px;
  /* --padding: 0.5em; */
  --border-radius: 18px;
}

.OrderStatusDetail {
  .pendiente,
  .cancelado,
  .aprobado {
    font-size: var(--font-size);
    color: var(--white-color);
    display: inline-flex;
    align-items: center;
    padding: var(--padding);
    border-radius: var(--border-radius);
    text-transform: lowercase;
    /* height: 1.5rem; */
    /* width: 6.9rem; */
  }

  .pendiente {
    background-color: #cd6200;
  }

  .cancelado {
    background-color: gray;
  }

  .aprobado {
    background-color: #1f9254;
  }

  .pendiente::before,
  .cancelado::before,
  .aprobado::before {
    content: "•";
    font-size: var(--font-size-icon);
    color: inherit;
    margin-right: 5px;
  }

  span {
    color: var(--white-color);
  }
}

.OrderStatusTable {
  .pendiente {
    color: #cd6200;
  }

  .aprobado {
    color: #1f9254;
  }

  .cancelado {
    color: gray;
  }

  .expirado {
    color: red;
  }
}

.OrderStatusFlex {
  display: inline-flex;
  gap: 0.5rem;
  margin-left: 0.5rem;
}
