.DashboardLayout {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  font-family: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
  margin: 0;
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--base-color);
  color: var(--text-color);
  display: grid;
  grid-template-columns: auto 1fr;
  i[class*="icon-"] {
    color: var(--text-color);
    font-size: 1.3em;
    padding: 0.2em;
  }

  .DashboardLayout__main {
    padding: min(30px, 7%);
    overflow: hidden;
    overflow-x: scroll;
  }

  .DashboardLayout__main p {
    /* color: var(--secondary-text-color); */
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .DashboardLayout__main .container {
    border: 1px solid var(--line-color);
    border-radius: 5px;
    margin-bottom: 20px;
    padding: min(3rem, 15%);
  }
}
