.UserUpdatePage {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;

  form {
    > aside {
      display: flex;
      flex-direction: column;
      gap: 1em;
    }
  }
  .password-fields {
    position: relative;
    --top: 13px;
  }
  .toggle-password {
    position: absolute;
    top: var(--top);
    right: 10px;
    cursor: pointer;
  }
  .generate-password {
    position: absolute;
    top: var(--top);
    right: 50px;
    cursor: pointer;
  }
}
