/* @import url("./styles/ButtonComponent.css"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --accent-color: #bb0000;
  --base-color: #ffffff;
  --hover-color: #f0f0f0;
  --line-color: #d3d3d3;
  --secondary-text-color: #666666;
  --text-color: #111111;
  --white-color: #ffffff;
  --black-color: #111111;

  --border-radius: 0.5em;
}

.dark-mode {
  --accent-color: #bb0000;
  --base-color: #11121a;
  --hover-color: #222533;
  --line-color: #42434a;
  --secondary-text-color: #b0b3c1;
  --text-color: #e6e6ef;
  --white-color: #ffffff;
  --black-color: #111111;

  --border-radius: 0.5em;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.error {
  color: red;
}

/* Estilos para navegadores basados en WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Grosor de la barra de desplazamiento */
  height: 8px; /* Para barras de desplazamiento horizontales */
}

::-webkit-scrollbar-track {
  background: transparent; /* Fondo transparente */
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color); /* Color de la barra deslizante */
  border-radius: 10px; /* Más redondeado */
  min-height: 20px; /* Para evitar que se vea demasiado pequeña */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--hover-color); /* Color cuando el usuario pasa el mouse */
}

/* Para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color) transparent; /* Fondo transparente */
}

.title {
  color: var(--accent-color);
  font-size: 2em;
  text-align: center;
}
.subtitle {
  color: var(--accent-color);
  font-size: 1.5em;
  text-align: center;
}
textarea {
  font: inherit;
}
