.OrderListPage {
  padding: 2em;
  background-color: var(--base-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;

  h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
    color: var(--text-color);
    /* color: peru !important; */
  }

  h2 {
    font-size: 1.2em;
    color: var(--secondary-text-color);
    margin-bottom: 1.5em;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* margin-bottom: 2em; */
  }

  .filters {
    display: flex;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
  }
  .filters_top {
    display: flex;
    align-items: center;
    gap: 1em;
    .search-input {
      flex-grow: 1;
    }
  }

  form input,
  form select {
    padding: 0.8em;
    border-radius: var(--border-radius);
    border: 1px solid var(--line-color);
    font-size: 1rem;
  }

  form select:focus,
  form input[type="text"]:focus,
  form input[type="email"]:focus,
  form input[type="password"]:focus,
  form input[type="number"]:focus,
  form input[type="date"]:focus,
  form textarea:focus 
  {
    outline: 2px solid var(--accent-color);
  }

  form input[type="number"] {
    max-width: 100px;
  }

  form select {
    max-width: 250px;
  }

  .UserTableRespoComp {
    margin-top: 2em;
  }
}
